<% if @rating %>
	<div id="statuses">
		<h2><%= date_format @rating.for_date %></h2>
		<div class="rating smileys-smiley_<%= @rating.rating.downcase %>" title="<%= @rating.display_status %>">
			&nbsp;
		</div>
		<br/>
		<div class="actions">
		</div>
	</div>
<% end %>
