/* line 5, ../../app/stylesheets/iphone.scss */
body {
  background-color: #ddd;
  color: #222;
  font-family: Helvetica;
  font-size: 14px;
  margin: 0;
  /* Amount of negative space around the outside of the body */
  padding: 0;
  /* Amount of negative space around the inside of the body */
}

/* line 16, ../../app/stylesheets/iphone.scss */
#header #login-section {
  font-size: 12px;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
}
/* line 23, ../../app/stylesheets/iphone.scss */
#header #masthead h1 {
  margin: 0;
  padding: 0;
}
/* line 26, ../../app/stylesheets/iphone.scss */
#header #masthead h1 a {
  background-color: #ccc;
  border-bottom: 1px solid #666;
  color: #222;
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}
/* line 38, ../../app/stylesheets/iphone.scss */
#header #masthead p {
  display: none;
}
/* line 41, ../../app/stylesheets/iphone.scss */
#header #masthead ul {
  list-style: none;
  margin: 10px;
  padding: 0;
}
/* line 46, ../../app/stylesheets/iphone.scss */
#header #masthead ul li a {
  background-color: #FFFFFF;
  border: 1px solid #999999;
  color: #222222;
  display: block;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: -1px;
  padding: 12px 10px;
  text-decoration: none;
}

/* line 62, ../../app/stylesheets/iphone.scss */
#content {
  padding: 10px;
}
/* line 66, ../../app/stylesheets/iphone.scss */
#content #home #welcome .home-panel {
  display: block;
}

/* line 79, smileys */
.smileys-sprite, .smileys-smiley_bad, .smileys-smiley_bad_unselected, .smileys-smiley_blank, .smileys-smiley_good, .smileys-smiley_good_unselected, .smileys-smiley_mixed, .smileys-smiley_mixed_unselected {
  background: url('/images/smileys-9047005292.png') no-repeat;
}

/* line 59, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.smileys-smiley_bad {
  background-position: 0 0;
}

/* line 59, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.smileys-smiley_bad_unselected {
  background-position: 0 -60px;
}
/* line 42, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.smileys-smiley_bad_unselected:hover, .smileys-smiley_bad_unselected.smiley_bad_unselected_hover, .smileys-smiley_bad_unselected.smiley_bad_unselected-hover {
  background-position: 0 -120px;
}

/* line 59, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.smileys-smiley_blank {
  background-position: 0 -180px;
}

/* line 59, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.smileys-smiley_good {
  background-position: 0 -240px;
}

/* line 59, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.smileys-smiley_good_unselected {
  background-position: 0 -300px;
}
/* line 42, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.smileys-smiley_good_unselected:hover, .smileys-smiley_good_unselected.smiley_good_unselected_hover, .smileys-smiley_good_unselected.smiley_good_unselected-hover {
  background-position: 0 -360px;
}

/* line 59, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.smileys-smiley_mixed {
  background-position: 0 -420px;
}

/* line 59, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.smileys-smiley_mixed_unselected {
  background-position: 0 -480px;
}
/* line 42, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.smileys-smiley_mixed_unselected:hover, .smileys-smiley_mixed_unselected.smiley_mixed_unselected_hover, .smileys-smiley_mixed_unselected.smiley_mixed_unselected-hover {
  background-position: 0 -540px;
}

/* line 76, ../../app/stylesheets/iphone.scss */
#footer {
  display: none;
}

/* line 79, ../../app/stylesheets/iphone.scss */
#statuses {
  margin-right: 0;
}
/* line 80, ../../app/stylesheets/iphone.scss */
#statuses a {
  text-decoration: none;
  height: 100px;
  float: left;
}
/* line 84, ../../app/stylesheets/iphone.scss */
#statuses a .rating-name {
  display: none;
}

/* line 91, ../../app/stylesheets/iphone.scss */
.rating,
.calendar-rating {
  height: 60px;
  width: 60px;
}

/* line 95, ../../app/stylesheets/iphone.scss */
.rating {
  float: left;
}
