<h2>About 'How Was Your Day?'</h2>

<p>It all started with an argument with my wife.</p> 

<p>I retrospectively tried to log my rating (good, mixed, bad) for the days in the prior three weeks. Since it was particularly bad at the moment I did this, I had a bias to think the past was bad. Of course our current state of mind always influences our perceptions of the past.</p>

<p>After reflecting later on I realized that you could track your rating daily for the previous day. This would provide a more accurate sense of your state of mind. And perhaps it might help influence future behavior.</p>

<p>As a Zen-like runner, I run just about everyday. But I don't track it at all. Nonetheless, I've had tremendous success with streaks: consecutive days of running. I've reached near 70 consecutive days of running and it was wonderful. Streaks help lead to long-term behavior changes.</p>

<p>I've also read research from <a href="http://bjfogg.com/" title="BJ Fogg's Website">BJ Fogg</a> about behavior change and I like his <a href="http://www.behaviorwizard.org/wp/behavior-grid/" title="The Behavior Wizard  |  Behavior Grid">Behavior Grid</a> as model. It turns out that "dot behaviors" tend to be easy for people - do something once. But people focus on "path behviors" in that they want permanent change. The good news is that you can develop tools to encourage dot behaviors to become path behaviors.</p>

<p><strong>This tool is just such a tool.</strong></p>

<p>You use it everyday to rate previous day. The rating system is simple: Good, Mixed or Bad (you can save comments too). You decide what you are rating: it could be be state of mind, mood, physical pains, work, you name it.</p>

<p>Over time you'll see patterns and streaks emerge. The goal is often to keep those good streaks going. And the tool focuses on the streak with the latest data being shown first. There's no need to focus on the fact that last month was bad. Focus on your current streak and keeping it going</p>

<p></p>
